{
    "RootNamespace": "Warehouse",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=IIvanov-PC\\SQLEXPRESS;Initial Catalog=Warehouse_Default_v1;Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Tenants",
                    "Identifier": "Tenant",
                    "Module": "Administration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:Tenants"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\Warehouse\\Warehouse.Web\\Warehouse.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}