
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.HR.Employee.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Ledger.HR.EmployeeGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>