@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Store.CustomerDetails.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Warehouse.Store.CustomerDetailsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>