@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Store.OperationType.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CoreStore.Store.OperationTypeGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>