<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="defaultConnection" value="mySqlCon"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="sqlCon" connectionString="Data Source=localhost;Initial Catalog=tracker;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
    <add name="mySqlCon" connectionString="Server=localhost;Port=3306;Database=tracker;Uid=root;Pwd=sa;allow user variables=true" providerName="MySql.Data.MySqlClient"/>
    <add name="oracleCon" connectionString="Server=localhost;Port=3306;Database=tracker;Uid=root;Pwd=P@ssw0rd;allow user variables=true" providerName="MySql.Data.MySqlClient"/>
    <add name="sqlce" connectionString="Data Source=|DataDirectory|\logins.sdf" providerName="Microsoft.SqlServerCe.Client.4.0"/>
    <add name="DAL.Properties.Settings.MyDatabaseConnectionString" connectionString="Data Source=&quot;C:\Users\IIvanov\Documents\Visual Studio\Projects\EncryptDecryptAppConfigFile\EncryptDecryptAppConfigFile\EncryptDecryptAppConfigFile\MyDatabase.sdf&quot;;Persist Security Info=True" providerName="Microsoft.SqlServerCe.Client.4.0"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data,Version=6.4.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
      <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider,	 System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
