
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Infra.Email.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Ledger.Infra.EmailGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>