@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Store.ItemCategory.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Store.Store.ItemCategoryGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>