{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDB)\\MSSQLLocalDB; Initial Catalog=Ledger_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "ldg.EmplAddressType",
                    "Identifier": "EmplAddressType",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=(LocalDB)\\MSSQLLocalDB; Initial Catalog=Ledger_Northwind_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "Store",
            "ConnectionString": "Data Source=(localdb)\\ProjectsV13; Initial Catalog=Store_Store_v1; Integrated Security=False",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "infra.SupportTypeString",
                    "Identifier": "SupportTypeString",
                    "Module": "Infra",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "infra.Support",
                    "Identifier": "Support",
                    "Module": "Infra",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "infra.SupportType",
                    "Identifier": "SupportType",
                    "Module": "Infra",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "D:\\Program Files\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\..\\Ledger\\Ledger\\Ledger.Web\\Ledger.Web.csproj",
    "RootNamespace": "Ledger",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": false,
    "GenerateRow": true,
    "GenerateColumn": true,
    "GenerateForm": true,
    "GenerateEndpoint": true,
    "GenerateRepository": true,
    "GeneratePage": true,
    "GenerateGrid": true,
    "GenerateDialog": true,
    "GenerateGridEditor": true,
    "GenerateGridEditorDialog": true,
    "GenerateLookupEditor": false,
    "MaximizableDialog": false
}