{
    "RootNamespace": "Store",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=.\\sqlexpress; Initial Catalog=Store_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "Store",
            "ConnectionString": "Data Source=.\\sqlexpress; Initial Catalog=Store_Store_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Categories",
                    "Identifier": "Category",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.CategoriesLang",
                    "Identifier": "CategoryLang",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.ItemCategories",
                    "Identifier": "ItemCategory",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.ItemCategoriesLang",
                    "Identifier": "ItemCategoryLang",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.Measures",
                    "Identifier": "Measure",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.Suppliers",
                    "Identifier": "Supplier",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.ProductLang",
                    "Identifier": "ProductLang",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.ProductLog",
                    "Identifier": "ProductLog",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.Products",
                    "Identifier": "Product",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.ItemLang",
                    "Identifier": "ItemLang",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.Items",
                    "Identifier": "Item",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.Product Details",
                    "Identifier": "ProductDetail",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.Shops",
                    "Identifier": "Shops",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.OperationType",
                    "Identifier": "OperationType",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CustomerDetails",
                    "Identifier": "CustomerDetails",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.CustomerRepresentatives",
                    "Identifier": "CustomerRepresentatives",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.Customers",
                    "Identifier": "Customer",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.CustomerCustomerDemo",
                    "Identifier": "CustomerCustomerDemo",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CustomerDemographics",
                    "Identifier": "CustomerDemographic",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Notes",
                    "Identifier": "Note",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.Employees",
                    "Identifier": "Employee",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.Orders",
                    "Identifier": "Order",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.Order Details",
                    "Identifier": "OrderDetail",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Order Details Extended",
                    "Identifier": "OrderDetailsExtended",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Order Subtotals",
                    "Identifier": "OrderSubtotals",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.Shippers",
                    "Identifier": "Shipper",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.CounterpartyDetails",
                    "Identifier": "CounterpartyDetail",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.CounterpartyRepresentatives",
                    "Identifier": "CounterpartyRepresentative",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.Counterparties",
                    "Identifier": "Counterparty",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.OrderProducts",
                    "Identifier": "OrderProduct",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.OrderProduct Details",
                    "Identifier": "OrderProductDetail",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.WaresLang",
                    "Identifier": "WaresLang",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.WaresCategoriesLang",
                    "Identifier": "WaresCategoriesLang",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.WaresCategories",
                    "Identifier": "WaresCategories",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Wares",
                    "Identifier": "Wares",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CategoriesType",
                    "Identifier": "CategoryType",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.WaresMovement",
                    "Identifier": "WaresMovement",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.WaresMovement Details",
                    "Identifier": "WaresMovementDetails",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ProductMovement",
                    "Identifier": "ProductMovement",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.ProductMovement Details",
                    "Identifier": "ProductMovementDetails",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Store:General"
                },
                {
                    "Tablename": "dbo.Store",
                    "Identifier": "Store",
                    "Module": "Store",
                    "ConnectionKey": "Store",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "D:\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\Store\\Store.Web\\Store.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [
        "InsertUserId",
        "UpdateUserId",
        "InsertDate",
        "UpdateDate"
    ],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": false,
    "GenerateUI": false,
    "GenerateCustom": false
}