@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Store.ProductMovement.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Store.Store.ProductMovementGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>