
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Infra.Support.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Ledger.Infra.SupportGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>