<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  <appSettings>
    <add key="FWToolsBinPath" value="C:\Program Files (x86)\FWTools2.4.7\bin" />
    <add key="FWToolsProjLib" value="C:\Program Files (x86)\FWTools2.4.7\proj_lib" />
    <add key="FWToolsGeoTiffCsv" value="C:\Program Files (x86)\FWTools2.4.7\data" />
    <add key="FWToolsGdalData" value="C:\Program Files (x86)\FWTools2.4.7\data" />
    <add key="FWToolsGdalDriver" value="C:\Program Files (x86)\FWTools2.4.7\plugins" />
    <add key="SpatiaLitePath" value="D:\GIS\SpatiaLite\2.4.0_RC3\x86" />
    <add key="SpatiaLiteNativeDll" value="libspatialite-2.dll" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="GoogleMapsApiKey" value="Your Google Maps Api Key goes here!" />
  </appSettings>
  -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Projections" publicKeyToken="272632bddd08a38b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2011.52" newVersion="1.0.2011.52" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GeoAPI" publicKeyToken="a1a0da7def465678" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.1.0" newVersion="1.7.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>