USE [Store_Store_v1]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 13.01.2019 20:31:15 ******/
ALTER TABLE dbo.Products  
DROP CONSTRAINT [FK_Products_Categories];   
GO 

ALTER TABLE [dbo].[Wares]
DROP CONSTRAINT [FK_Wares_Categories];
GO

DROP TABLE [dbo].[Categories];
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryTypeID] [int] NOT NULL,
	[CategoryCode] [nvarchar](20) NULL,
	[CategoryName] [nvarchar](20) NOT NULL,
	[Description] [ntext] NULL,
	[Picture] [image] NULL,
	[InsertDate] [datetime] NOT NULL DEFAULT CURRENT_TIMESTAMP,
	[InsertUserId] [int] NOT NULL DEFAULT (1),
	[UpdateDate] [datetime] NULL,
	[UpdateUserId] [int] NULL,
	[IsActive] [int] NOT NULL DEFAULT (1),
	[TenantId] [int] NOT NULL DEFAULT(1),
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [CategoryCode] ON [dbo].[Categories] 
(
	[CategoryCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
CREATE NONCLUSTERED INDEX [CategoryName] ON [dbo].[Categories] 
(
	[CategoryName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO

SET IDENTITY_INSERT [dbo].[Categories] ON 


SET IDENTITY_INSERT [dbo].[Categories] OFF

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO

ALTER TABLE [dbo].[Wares]  WITH NOCHECK ADD  CONSTRAINT [FK_Wares_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Wares] CHECK CONSTRAINT [FK_Wares_Categories]
GO

ALTER TABLE [dbo].[Categories]  WITH NOCHECK ADD  CONSTRAINT [FK_Categories_CategoryTypes] FOREIGN KEY([CategoryTypeID])
REFERENCES [dbo].[CategoriesType] ([CategoryTypeID])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_CategoryTypes]
GO
