{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDB)\\MSSQLLocalDB; Initial Catalog=Ledger_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Tenants",
                    "Identifier": "Tenants",
                    "Module": "Ledger",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Languages",
                    "Identifier": "Languages",
                    "Module": "Ledger",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.RolePermissions",
                    "Identifier": "RolePermissions",
                    "Module": "Ledger",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Roles",
                    "Identifier": "Roles",
                    "Module": "Ledger",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.VersionInfo",
                    "Identifier": "VersionInfo",
                    "Module": "Ledger",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "ldg.Phones",
                    "Identifier": "Phone",
                    "Module": "Infra",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "ldg.Notes",
                    "Identifier": "Note",
                    "Module": "Infra",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "ldg.Emails",
                    "Identifier": "Email",
                    "Module": "Infra",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "ldg.Currencies",
                    "Identifier": "Currency",
                    "Module": "Infra",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "ldg.Categories",
                    "Identifier": "Category",
                    "Module": "Infra",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "ldg.Addresses",
                    "Identifier": "Addresses",
                    "Module": "Infra",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "ldg.Employees",
                    "Identifier": "Employee",
                    "Module": "HR",
                    "ConnectionKey": "Default",
                    "PermissionKey": "HR.PermissionKeys.General"
                },
                {
                    "Tablename": "ldg.EmployeesAddresses",
                    "Identifier": "EmployeeAddress",
                    "Module": "HR",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "ldg.EmployeesEmails",
                    "Identifier": "EmployeeEmail",
                    "Module": "HR",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "ldg.EmployeesPhones",
                    "Identifier": "EmployeePhone",
                    "Module": "HR",
                    "ConnectionKey": "Default",
                    "PermissionKey": "HR.PermissionKeys.General"
                },
                {
                    "Tablename": "ldg.SupportType",
                    "Identifier": "SupportType",
                    "Module": "Infra",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Infra.PermissionKeys.General"
                },
                {
                    "Tablename": "ldg.SupportTypeString",
                    "Identifier": "SupportTypeString",
                    "Module": "Infra",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Infra.PermissionKeys.General"
                }
            ]
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=(LocalDB)\\MSSQLLocalDB; Initial Catalog=Ledger_Northwind_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "ldg.Employees",
                    "Identifier": "Employee",
                    "Module": "HR",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\Ledger\\Ledger.Web\\Ledger.Web.csproj",
    "ScriptProjectFile": "",
    "RootNamespace": "Ledger",
    "BaseRowClasses": [
        {
            "ClassName": "Serene.Administration.LoggingRow",
            "Fields": [
                "InsertUserId",
                "UpdateUserId",
                "InsertDate",
                "UpdateDate"
            ]
        }
    ],
    "RemoveForeignFields": [
        "InsertUserId",
        "UpdateUserId",
        "InsertDate",
        "UpdateDate"
    ],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": false,
    "GenerateRow": true,
    "GenerateColumn": true,
    "GenerateForm": true,
    "GenerateEndpoint": true,
    "GenerateRepository": true,
    "GeneratePage": true,
    "GenerateGrid": true,
    "GenerateDialog": true,
    "GenerateGridEditor": true,
    "GenerateGridEditorDialog": true,
    "GenerateLookupEditor": false,
    "MaximizableDialog": false
}