
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.HR.EmployeeAddress.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Ledger.HR.EmployeeAddressGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>