@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Store.ItemCategoriesLang.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Warehouse.Store.ItemCategoriesLangGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>