@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Infra.AddressTypeString.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene1.Default.Infra.AddressTypeStringGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>