@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.AddressTypeLang.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene1.Default.Infra.Default.AddressTypeLangGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>