@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Store.Product.EntityPlural");
}

@section Head {
    @Html.Script("dynamic://Lookup.Store.Category")
    @Html.Script("dynamic://Lookup.Store.Supplier")
    @Html.Script("dynamic://Lookup.Store.Items")
}
<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Warehouse.Store.ProductGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>