@inject Serenity.ITextLocalizer Localizer

@{
    ViewData["Title"] = Localizer.Get("Db.Store.Measures.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Store.Store.MeasuresGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>