@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Store.Measures.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CoreStore.Store.MeasuresGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>