@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Store.Store.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Store.BasicReports.WaresFileGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>