
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Infra.SupportType.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Ledger.Infra.SupportTypeGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>