@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Store.Wares.EntityPlural");
}

@section Head {
    @Html.Script("dynamic://Lookup.Store.Category")
    @Html.Script("Dynamic://Lookup.Store.Counterparty")
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CoreStore.Store.WaresGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>