@import "site.mixins.less";


.s-Store-CategoriesDialog {
    > .size {
        .widthAndMin(650px);
    }

    .dialog-styles(@h: auto, @l: 150px, @e: 400px);

    .s-PropertyGrid .categories {
        height: 260px;
    }
}

.s-Store-CategoryLangDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Store-EmployeeDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}