/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [DetailID]
      ,[WaresMoveID]
      ,[WaresID]
      ,[Quantity]
      ,[SinglePrice]
      ,[Discount]
      ,[InsertDate]
      ,[InsertUserId]
      ,[UpdateDate]
      ,[UpdateUserId]
      ,[IsActive]
      ,[TenantId]
  FROM [Store_Store_v1].[dbo].[WaresMovement Details]