USE [Store_Store_v1]
GO
/****** Object:  StoredProcedure [dbo].[CustomerGrossSales]    Script Date: 13.01.2019 20:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: StoreDB_script.sql|5109|0|D:\Projects\Store\StoreDB_script.sql

CREATE PROCEDURE [dbo].[CustomerGrossSales]
    @startDate DATE,
    @endDate DATE
AS
BEGIN
    SELECT
        o.CustomerID, 
        c.ContactName, 
        d.ProductID, 
        p.ProductName,
        GrossAmount = Sum(d.UnitPrice* d.Quantity)
    FROM
        Orders o
        LEFT OUTER JOIN
            Customers c on c.CustomerID = o.CustomerID
        LEFT OUTER JOIN
            [Order Details] d on d.OrderID = o.OrderID
        LEFT OUTER JOIN
            Products p on p.ProductID = d.ProductID
    WHERE
        (@startDate IS NULL OR o.OrderDate >= @startDate) AND
        (@endDate IS NULL OR o.OrderDate <= @endDate)
    GROUP BY c.ContactName, p.ProductName, o.CustomerID, d.ProductID
    ORDER BY c.ContactName, Sum(d.UnitPrice* d.Quantity) DESC
END
GO
